<div class="bg" id="notfoundbg"></div>

<div id="headcont"class="container">
	<div id="heading" class="jumbotron">
		<h1 class="display-3">
			<i class="fa fa-question" aria-hidden="true"></i>
			<strong>Error 404 - Page Not Found</strong>
		</h1>
		<h1>You Look A Little Lost There Partner</h1>
		<p class="lead">
			You know what page you're looking for?<br>
			....You'd be a lot cooler if you diiid
		</p>

		<hr class="my-4">
		<img class="img-thumbnail" src="/Pictures/dazed.jpg" alt="Big Lebowski">
	</div>
</div>
